img{width: 400px;}

h1{
    color: #d7a6d5;
    font-family: 'Pacifico', cursive;
}

body{
color: #dd8ecb;
    font-family: 'Original Surfer', cursive;
}

body{
    background-color: #b3e1ef;
}

body{
text-align: center;
}

div{
margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
}

.q1{
    background-color:#ededed;
}

.q2{
    background-color:#ededed;
}

